table.confluenceTable {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

td.confluenceTd {
    border: 1px solid #DDD;
    padding: 5px 7px;
    min-width: 0.6em;
    text-align: left;
    vertical-align: top;
}

th.confluenceTh {
    border: 1px solid #DDD;
    padding: 5px 7px;
    min-width: 0.6em;
    text-align: left;
    vertical-align: top;
    background-color: #F0F0F0;
    font-weight: bold;
}
